{% extends "layouts/main.html" %}

{% block pageTitle %}
  DfE Sign-in
{% endblock %}

<div class="govuk-header__content">
  <span class="govuk-header--service-name">DfE Sign-In</span>
</div>


{% block content %}
<div class="govuk-phase-banner govuk-!-margin-bottom-6">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-panel govuk-panel--confirmation govuk-!-static-margin-bottom-5">
  <h1 class="govuk-panel__title">
    Password changed successfully
  </h1>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        What happens next?
      </h2>

      <p class="govuk-body govuk-!-static-margin-bottom-4">Use your email address and new password to sign into your DfE Sign-in account.</p>
      
    </div>
  </div>

  <div class="govuk-button-group">
    <a type="submit" class="govuk-button govuk-!-static-margin-bottom-9" href="../dfe-sign-in-login.html">
      Sign-in
    </a>
  </div>
{% endblock %}
