{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design History
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design History</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        Design History
      </h1>

      <h2 class="govuk-heading-l">Select a prototype history to view</h2>

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../design-history/manage-console/manage-history.html">Manage Console</a></h3>
      <p class="govuk-body">Posts relating to changes to the Manage Console from previous versions.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    </div>
  </div>

{% endblock %}