{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}



{% block content %}

<div class="govuk-phase-banner govuk-!-margin-bottom-6">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0">   
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-5" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              New policy sent for review
            </h3>
            <p class="govuk-body">The external users policy has been sent to the DfE Sign-in support team for review. You will receive an email within 5 days to tell you if your policy has been approved or rejected.</p>
          </div>
        </div>
  
        <span class="govuk-caption-xl">Submit Learner Data</span>
  
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Manage service access</h1>
  
        <p class="govuk-body">You can manage access to your service by adding, changing or removing policies.</p>

        <p class="govuk-body">A policy is a set of rules that determines who can and cannot access your service. The rules limit access to your service based on specific criteria, such as by organisation or email address.</p>

    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
          </ul>
      </aside>
  </div>

  </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Policy name</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Internal Users</a></th>
                    <td class="govuk-table__cell">Organisation</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          IN REVIEW
                        </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link"></a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">External Users</a></th>
                    <td class="govuk-table__cell">User</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          IN REVIEW
                        </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link"></a></td>
                  </tr>
                </tbody>
              </table>
              
              <div class="govuk-button-group pull-left">
                <a type="submit" class="govuk-button" href="../manage-policies/create-policy/policy-type.html">
                  Create new policy
              </a>
            </div>
              
    </div>
       
  </main>

{% endblock %}
