{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %}
{% endblock %}


{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<main id="content" class="govuk-!-margin-bottom-5">

  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>

  <form class="form" action="/policy-type-answer-v6" method="post">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-error-summary govuk-!-margin-top-4" aria-labelledby="govuk-error-summary" role="alert"
          tabindex="-1" data-module="govuk-error-summary" {% if not showError %} style="display: none;" {% endif %}>
          <h2 class="govuk-error-summary__title" id="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#policy-type">Select a policy type</a>
              </li>
            </ul>
          </div>
        </div>

        <span class="govuk-caption-xl govuk-!-margin-top-5">Submit Learner Data</span>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Create new policy</h1>




        <div class="govuk-form-group {% if showError %} govuk-form-group--error {% endif %}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Choose a policy type
            </h1>
          </legend>

          <div id="signIn-hint" class="govuk-hint">
            Select the type of policy you want to create.
          </div>
          {% if showError %}
          <p id="policy-type-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Select a policy type
          </p>
          {% endif %}


          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="policy-type-organisation" name="policy-type" type="radio" value="Organisation"
                aria-describedby="signIn-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn">
                Organisation
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                Limit access to your service based on individual organisations
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="policy-type-user" name="policy-type" type="radio" value="User"
                aria-describedby="signIn-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="signIn-2">
                User
              </label>
              <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                Limit access to your service based on individual email addresses
              </div>
            </div>
          </div>
          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Continue</button>

        <a class="govuk-button govuk-button--secondary" href="../manage-policies/policies.html" role="button">Cancel</a>
      </div>

  </form>


  <div class="govuk-grid-column-one-third pull-right">
    <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Related actions</h3>
      <ul class="govuk-list">
        <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new
            tab)</a> </li>
      </ul>
    </aside>
  </div>
  </div>


</main>

{% endblock %}