{% extends "layouts/main.html" %}

{% block pageTitle %}
 Manage Console Overview - Invision prototype > Version 1
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../../index.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-5">Invision prototype > Version 1</h1>
        <p>Documented changes from the intial Invision prototype to the creation of version 1 of Manage console located in this design history.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l">Contents</p>
        <ol class="govuk-list govuk-list--number">
            <li><a class="govuk-link govuk-link--no-visited-state" href="#prototype-transer">Transfer prototype from Invision Studio to Gov prototype kit</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#filters">Organisation & user management filters</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#service-config">Service configuration</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#service-onboarding">Service onboarding</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#manage-policies">Manage policies</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#help">Help pages</a></li>
        </ol>

         <!--   Transfer prototype from Invision Studio to Gov prototype kit    -->
         <h2 class="govuk-heading-l" id="prototype-transer">Transfer prototype from Invision Studio to Gov prototype kit</h2>

         <ul class="govuk-list govuk-list--bullet">
             <li>Transferred the entire Manage Console prototype from Invision Studio to the Gov prototype kit</li>
             <p class="govuk-hint">
                 Invision Studio as of 2023 is no longer supported or available and has been sunset as a prototyping product. The entire Manage Console prototype existed in Invision Studio therefore it was necessary to transfer all existing pages to the prototype kit to ensure it is supported moving forward.
             </p>
         </ul>

        <!--   Org and user filters   -->
        <h2 class="govuk-heading-l" id="filters">Organisation & user management filters</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Created filters for Organisation search & User management sections of Manage Console</li>
            <p class="govuk-hint">Users will now be able to filter organisations by Status & Organisation category. In user management users will be able to filter users by User type, Organisation type, Last login & Account status.</p>
            <li>Added an apply filter button to the filters</li>
            <p class="govuk-hint">Added an apply filters button to the filters, this feature was required as the developers required a button to prevent the page from refreshing after each filter has been selected. Users can now choose multiple filters without the page refreshing and can refresh the page using apply filters to show the filtered table.</p>
        </ul>


        <!--   Changes made to service configuration     -->
        <h2 class="govuk-heading-l" id="service-config">Service configuration</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Create section headings</li>
            <p class="govuk-hint">Created section headings for: service details, OpenID Connect & API as well as providing descriptions for each section.</p>
            <li>Moved input field labels above the input field</li>
            <p class="govuk-hint">The label of each input field has been moved above each input field to follow GDS guidance and patterns and to make the page more accessible.</p>
            <li>Added hint text to each input field</li>
            <p class="govuk-hint">In user research users expressed that they were unsure of what some of the input fields and labels meant, hint text has been added underneath the label to help users understand what each field is and does.</p>
            <li>Extended the length of input fields</li>
            <p class="govuk-hint">Due to the character length of some of the inputs which users were required to enter it was required to extend the input field lengths to follow GDS guidance and guidelines.</p>
            <li>Added the ability to remove fields</li>
            <p class="govuk-hint">Added the ability for users to remove input fields where required for example Redirect URL and Logout Redirect URL as users can enter multiple URL's and required the ability to remove URL's.</p>
            <li>Added an Add URL button</li>
            <p class="govuk-hint">Added an button to replace the Add URL link to follow GDS guidance and to ensure it was clear to users where and how they could add URL's.</p>
            <li>Updated the Response types & removed Grant types</li>
            <p class="govuk-hint">To follow best practice in line with OIDC guidance we updated the response types to show the correct values & removed grant types as users should not have the ability to select this and should instead be automatically selected for them.</p>
            <li>Added a warning message related to Response types</li>
            <p class="govuk-hint">Added a warning message to the Response types category as when a user makes a selection a flow type is automatically selected for them. The warning message is displayed to let the users know which flow has been selected.</p>
            <li>Added a refresh token field</li>
            <p class="govuk-hint">Added a refresh token field for users to select, this was previously found under Grant types however required a section of it's own as it is classed as a separate field in OIDC guidance.</p>
            <li>Moved the client secret input field</li>
            <p class="govuk-hint">Moved the input field for client secret underneath the repsonse types as the client secret input field is only required depending on what selection the user has made in response types.</p>
            <li>Aligned 'show' buttons with the input field</li>
            <p class="govuk-hint">Aligned the show buttons linked to the input field inline with the input field to ensure it is clear to users that the button relates to the field it it alongside rather than underneath the field.</p>
            <li>Updated the selections users can make under Token endpoint authentication method</li>
            <p class="govuk-hint">Updated the options under token endpoint authentication method to align with the OIDc guidance and requirements.</p>
            <li>Made some fields conditional to appear depending on what options the user has selected</li>
            <p class="govuk-hint">Under OIDC guidance Refresh token, client secret and toekn endpoint authentication method should only be selected or made available depending on which refresh token options the user has selected therefore certain fields will not appear until a selection is made to prevent users selecting the wrong setup.</p>
            <li>Created a review service configuration page</li>
            <p class="govuk-hint">Created a review service configuration page to give users the opportunity to review the changes they have made in order prevent users making mistakes potentially causing service outages.</p>
        </ul>

        <!--   Changes made to service onboarding    -->
        <h2 class="govuk-heading-l" id="service-onboarding">Service onboarding</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Created service onboarding journey</li>
            <p class="govuk-hint">Created a new journey which previously didn't exist to allow users to onboard a service to DfE Sign-in.</p>
            <li>Updated the journey to replicate the service configuration pages</li>
            <p class="govuk-hint">Updated the journey to replicate the service configuration page to ensure consistency for users between the two elements.</p>
        </ul>



        <!--   Changes made to the manage policies   -->
        <h2 class="govuk-heading-l" id="manage-policies">Manage policies</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Remove tabs when a user is viewing policy information</li>
            <p class="govuk-hint">Removed tabs and displayed the roles and consitions tables on the same page, allowing users to see both tables at the same time without clicking enabling comparison between the two table easier.</p>
            <li>Added a description to the manage policies page</li>
            <p class="govuk-hint">Added a description of what policies are and what users can do to ensure users understand what they can do.</p>
            <li>Added links to help pages related to manage policies</li>
            <p class="govuk-hint">Added links to manage policies help pages under related actions to ensure users can quickly access help when they need it.</p>
            <li>Added additional information to the policy pages</li>
            <p class="govuk-hint">Added additional information to the policies page such as policy status and policy type to ensure users have the information they require.</p>
            <li>Added the ability for users to view individual roles related to a policy</li>
            <p class="govuk-hint">Users can now click the name of a role and be taken to a role page which previously didn't exist, this enables users to view all policies related to a specific role.</p>
            <li>Added the ability to create a new policy</li>
            <p class="govuk-hint">Added the ability to create a new policy, enabling them to update their policies to ensure users have the right access to the services they require.</p>
            <li>Added the ability to change and edit existing policies</li>
            <p class="govuk-hint">Added the ability to change and edit exisiting policies ensuring users can maintain a policy after they have created it to ensure that users can access the right services when they require it and prevent users accessing services which they don't require.</p>
            <li>Added the ability to remove and delete a policy</li>
            <p class="govuk-hint">Added the ability to remove and delete a policy from a service, allowing users to keep their policies up to date and remove older policies which are no longer required.</p>
        </ul>


        <!--   Help section     -->
        <h2 class="govuk-heading-l" id="help">Help pages</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Created the help section for help articles</li>
            <p class="govuk-hint">Created the help section for where users can go to get help and answers to their questions in the form of help articles.</p>
            <li>Added About DfE Manage console help page</li>
            <p class="govuk-hint">Added a help page to the help section called about DfE Manage Console.</p>
            <li>Added manage users help page</li>
            <p class="govuk-hint">Added a help page to the help section called Manage users.</p>
            <li>Added Search organisations help page</li>
            <p class="govuk-hint">Added a help page to the help section called Search organisations.</p>
            <li>Added Edit service configuration help page</li>
            <p class="govuk-hint">Added a help page to the help section called Edit service configuration.</p>
            <li>Added Create new service help page</li>
            <p class="govuk-hint">Added a help page to the help section called Create new service.</p>
            <li>Updated most popular help links</li>
            <p class="govuk-hint">Updated the most popular help links to include the new help pages.</p>
        </ul>

    </div>

</div>
{% endblock %}