{% extends "layouts/main.html" %}

{% block pageTitle %}
 Manage Console Overview - Service prototype > Version 6
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../../index.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-5">Service access > Version 6</h1>
        <p>Documented changes from the service access prototype.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l">Contents</p>
        <ol class="govuk-list govuk-list--number">
            <li><a class="govuk-link govuk-link--no-visited-state" href="#about">About service access</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#create">Create policy</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#conditions">Conditions</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#existing">Existing policies</a></li>
        </ol>

         <!--   Transfer prototype from Invision Studio to Gov prototype kit    -->
         <h2 class="govuk-heading-l" id="about">About service access</h2>

         <ul class="govuk-list govuk-list--bullet">
             <li>Changed 'Manage policies to 'Manage service access' </li>
             <p class="govuk-hint">
                A policy is a set of rules that determines who can and cannot access a service. 
                During user testing, we found that ‘Manage policies’ wasn’t descriptive enough and if users 
                were coming in to manage access to a service, the mental link wasn’t there with the 
                terminology ‘Manage policies’. 
                <br> <br>
                We changed 'Manage policies' to 'Manage service access' as an umbrella term above 'policies' so that it would be easier for users to understand.
             </p>
         </ul>

        <!--   Org and user filters   -->
        <h2 class="govuk-heading-l" id="create">Create policy</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Limited the organisation policy</li>
            <p class="govuk-hint">We limited the organisation policy to just the organisation and role fields, where users can select multiple fields if necessary. 
                Users have the ability to filter through to find their organisations, if necessary.
            </p>
            <li>Limited the user policy</li>
            <p class="govuk-hint">We limited the user policy to just the email and role fields, where users can select multiple fields if necessary.</p>
        </ul>


        <!--   Changes made to service configuration     -->
        <h2 class="govuk-heading-l" id="conditions">Conditions</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Changed 'conditions' to 'rules'</li>
            <p class="govuk-hint">
                Changed ‘conditions’ to ‘rules’ as ‘rules’ is simpler and plainer English, scoring as 
                grade 3 on Hemingway compared to ‘conditions’ which scores as post graduate. ‘Rules’ is also 
                more descriptive as these are business rules the user is adding to the policy, 
                and they encapsulate specific instructions in the technical system. 
                <br><br>
                While both ‘rules’ and ‘conditions’ can be used to describe criteria or criteria-like elements, the pairing of ‘rules’ with ‘policy’ is more common language usage in computing contexts.
               </p>
        </ul>

        <!--   Changes made to service onboarding    -->
        <h2 class="govuk-heading-l" id="existing">Existing policies</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Policies already within the system</li>
            <p class="govuk-hint">
                As we have created the MVP, we have not created designs for multiple conditions within 
                a policy (for example, by establishment type, organisation ID or status).
                <br><br>
                Therefore, policies within the existing system which have multiple conditions will still be 
                displayed in the MVP, but we are not adding functionality to change or remove these policies. 
                Instead, we have a warning message telling users to create a 'Service Now' request.
            </p>
        </ul>

    </div>

</div>
{% endblock %}