<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" 
aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="success-sent-for-review"
style="display: none;">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        New policy sent for review
      </h3>
      <p class="govuk-body">The internal users policy has been sent to the DfE Sign-in support team for review. You will receive an email within 5 days to tell you if your policy has been approved or rejected.
      </p>
    </div>
  </div>