<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" 
aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="success"
style="display: none;">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Policy removed
      </h3>
      <p class="govuk-body">The internal users policy has been removed from Submit Learner Data.</p>
    </div>
  </div>