{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">Organisation policy</span>
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Child safeguarding</h1>

        <div class="govuk-label">
          <p class="govuk-phase-banner__content govuk-!-margin-bottom-1">
            <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">
              ACTIVE
            </strong>
          </p>

        </div>

        <div class="govuk-warning-text govuk-!-margin-top-5">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            If you want to change or remove this policy, you must create a 
            <a href="#" class="govuk-link govuk-link--no-visited-state">Service Now</a> request.
          </strong>
        </div>
    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
          </ul>
      </aside>
  </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-0">
    <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m">Rules</h2>
      <p class="govuk-body">The following Rules are associated with the internal users policy.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with rules
          </span>
        </summary>
        <div class="govuk-details__text">
          A rule lets you limit access to your service based on individual organisations or users. Find out what rule, operator and value mean on 
          <a href="#" class="govuk-link">help with manage service access</a>.
        </div>
      </details>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Rule</th>
              <th scope="col" class="govuk-table__header">Operator</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Value</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Status</th>
              <th class="govuk-table__header govuk-!-font-weight-regular">is</th>
              <td class="govuk-table__cell">
                Open
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Category</th>
              <th class="govuk-table__header govuk-!-font-weight-regular">is</th>
              <th class="govuk-table__header govuk-!-font-weight-regular">Local Authority</th>

            </tr>

          </div>

            <div class="govuk-grid-row govuk-!-margin-top-7">
              <div class="govuk-grid-column-two-thirds">
                
            
                  <table class="govuk-table">

                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Roles</h2>
                    <p class="govuk-body">The following roles are associated with the Internal users policy.</p>
              
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with roles
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        A role is a set of permissions that can be assigned to your service users. Find out what role name, code, ID and status mean on
                        <a href="#" class="govuk-link">help with manage roles</a>.
                      </div>
                    </details>
                  

                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-two-quarter">Role name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-two-quarter">Code</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-two-quarter">ID</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-two-quarter">Status</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../view-policies/policy-roles.html">CSG LA user (Test)</a></th>
                        <td class="govuk-table__cell">csg_la_user_test_only</td>
                        <td class="govuk-table__cell">20713</td>
                        <td class="govuk-table__cell">Open</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../view-policies/policy-roles.html">ChildSafeguarding Notifier - For 
                          Local Authority Use Only</a></th>
                        <td class="govuk-table__cell">csg_la_user_test_only</td>
                        <td class="govuk-table__cell">20713</td>
                        <td class="govuk-table__cell">Open</td>
                      </tr>






                    </tbody>
                  </table>
                 
        </div>
      </div>


          </tbody>
        </table>
       
</div>
</div>
       
  </main>

{% endblock %}
