{% extends "layouts/main.html" %}

{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">User policy (roles)</span>
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Submit Learner Data - EDS</h1>
  
    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a></li>
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with roles (opens in new tab)</a></li>
          </ul>
      </aside>
  </div>
  </div>

        <div class="govuk-grid-row govuk-!-margin-top-0">
          <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m govuk-!-margin-top-0">Policies</h2>
            <p class="govuk-body">The following policies are associated with the submit learner data - eds role.</p>
      
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with policies
                </span>
              </summary>
              <div class="govuk-details__text">
                A policy is a set of conditions that determines who can and cannot access your service. Find out more about policies and conditions on
                <a href="#" class="govuk-link">help with manage roles</a>.
              </div>
            </details>
            
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Policy name</th>
                    <th scope="col" class="govuk-table__header">Role</th>
                    <th scope="col" class="govuk-table__header">Condition</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../view-policies/organisation-policy.html">Child safeguarding</a></th>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        Active
                      </strong>
                    </td>                 
                   </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../view-policies/user-policy.html">ASP DfE Anon</a></th>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--green">
                        Active
                      </strong>
                    </td>                    
                   </tr>
                </tbody>
              </table>
             
    </div>
  </div>
       
  </main>

{% endblock %}
