{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design History
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design History</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        Design History - Manage Console
      </h1>

      <h2 class="govuk-heading-l">Posts</h2>

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../manage-console/posts/invision-v1.html">Invision prototype > Version 1</a></h3>
      <p class="govuk-body">Documented changes from the intiial Invision prototype to the creation of version 1 of Manage console located in this design history.</p>
      <p class="govuk-body-s">27th September 2023</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    </div>
  </div>

{% endblock %}