{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third pull-right">
        <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
            <h3 class="govuk-heading-m">Related actions</h3>
            <ul class="govuk-list">
                <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
            </ul>
        </aside>
    </div>


<div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl govuk-!-margin-top-5">External users</span>
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Selected roles</h1>

        <p class="govuk-body">You have selected the following roles to add to your policy.</p>
</div>
</div>



      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">

          <form class="form" action="../user-change-policy-success">
    <div class="container">
          <div class="govuk-grid-column-full" id="div1">

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        
                        <tr class="govuk-table__row sortable">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                                  Role
                            </th>
      
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                                Code
                          </th>
                        </tr>
                    </thead>
      
                    <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">
                              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id='checker' checked name="selectall" type="checkbox" value="hmrc">
                                  <label class="govuk-label govuk-checkboxes__label" for="selectall">
                                    Select all
                                  </label>
                                </div>
                              </div>
                            </th>
                            <td class="govuk-table__cell"></th>
                              <td class="govuk-table__cell"></th>

                        </tr>
                        
                        <tr class="govuk-table__row fullWidth">
                          <th scope="row" class="govuk-table__cell">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="skills_select govuk-checkboxes__input" checked style="margin-left:auto; margin-right:auto;" id="organisation" name="organisation" type="checkbox" value="hmrc">

                                <!-- Organisation -->
                                <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-weight-bold" for="organisation">
                                  Submit Learner Data - EDS
                                </label>

                                 <!-- Category -->
                                <td class="govuk-table__cell">
                                  EDRS
                                </th>
                               <!-- URN -->
                                <td class="govuk-table__cell">
                                  
                                </th>
                              </div>
                              </div>
                            </th>
                      </tr>             
                    
                       
                    </tbody>
                </table>

                <p class="govuk-body govuk-!-margin-bottom-8 govuk-!-font-weight-bold">
                  <a href="change-roles.html" class="govuk-link-bold" rel="noreferrer noopener">Change roles</a>
                </p>


                  <button class="govuk-button govuk-!-margin-right-2 " data-module="govuk-button">Continue</button>
                  <a class="govuk-button govuk-button--secondary" href="../manage-policies/policies.html" role="button">Cancel</a>
                </div>

            
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  let checker=document.getElementById('checker');
let col=document.querySelectorAll('input.skills_select');

checker.addEventListener('click',function(e){
    col.forEach(n=>n.checked=this.checked);
});

col.forEach( n=>{
  n.addEventListener('click',function(e){
    if( !this.checked && checker.checked )checker.checked=false;
  })
})
</script>


{% endblock %}
