{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-5"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    <form class="form" action="/v6/review-organisation-policy" method="post">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">Create new policy (organisation)</span>
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Review new policy</h1>
  
        <p class="govuk-body">Review the details of the new policy. The policy will be sent to the DfE Sign-in support team for review.</p>   

        <!-- <p class="govuk-body">If approved, the policy will be created and only users with the selected organisations will be able to add your service to their account.</p>    -->



        <dl class="govuk-summary-list" name="review-policy" value="Yes">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Internal Users
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="policy-name.html">Change<span class="govuk-visually-hidden">Name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Organisation
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisations
            </dt>
            <dd class="govuk-summary-list__value">
              Adult Community Learning Service<br>Pre-LGR 2019 Poole<br>Pre-LGR 2021 Northamptonshire
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="selected-organisations.html">Change<span class="govuk-visually-hidden"> Organisations</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Roles
            </dt>
            <dd class="govuk-summary-list__value">
              Submit Learner Data - Advanced Support Resubmit File
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="selected-roles.html">Change<span class="govuk-visually-hidden"> Roles</span></a>
            </dd>
          </div>
        </dl>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Only users with the selected organisations will be able to add your service to their account.
          </strong>
        </div>




        <div class="govuk-button-group">
          <button type="submit" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Submit</button>

          <!-- <a type="submit" class="govuk-button" data-module="govuk-button">
            Submit
        </a> -->

        <a class="govuk-button govuk-button--secondary" href="/manage-console/v6/manage-service-access/no-policies.html" role="button">Cancel</a>
        </form>
          
      </div>
    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
          </ul>
      </aside>
  </div>

  </div>
     

  </main>

{% endblock %}
