{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="../change-policy/org-change-policy.html" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">Assessment Service</span>
  
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Change establishment type</h1>

        <p class="govuk-body">Choose which organisation can access your service by their establishment type. Select at least 1.</p>
        
          <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption govuk-table__caption--s">Establishment types</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Select</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Category</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy 16-19 Converter</td>
                <td class="govuk-table__cell">Academy 16-19 Converter description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy 16-19 Sponsor Led</td>
                <td class="govuk-table__cell">Academy 16-19 Sponsor Led description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Alternative Provision Converter</td>
                <td class="govuk-table__cell">Academy Alternative Provision Converter description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Alternative Provision Sponsor Led</td>
                <td class="govuk-table__cell">Academy Alternative Provision Sponsor Led description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Converter</td>
                <td class="govuk-table__cell">Academy Converter description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Special Converter</td>
                <td class="govuk-table__cell">Academy Special Converter description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Special Sponsor Led</td>
                <td class="govuk-table__cell">Academy Special Sponsor Led description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy Sponsor Led</td>
                <td class="govuk-table__cell">Academy Sponsor Led description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">British Overseas Schools</td>
                <td class="govuk-table__cell">British Overseas Schools description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Children's Centre</td>
                <td class="govuk-table__cell">Children's Centre description.</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Children's Centre Linked Site</td>
                <td class="govuk-table__cell">Children's Centre Linked Site description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">City Technology College</td>
                <td class="govuk-table__cell">City Technology College description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Community School</td>
                <td class="govuk-table__cell">Community School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Community Special School</td>
                <td class="govuk-table__cell">Community Special School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Foundation School</td>
                <td class="govuk-table__cell">Foundation School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Foundation Special School</td>
                <td class="govuk-table__cell">Foundation Special School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Free Schools</td>
                <td class="govuk-table__cell">Free Schools description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Free Schools - 16-19</td>
                <td class="govuk-table__cell">Free Schools - 16-19 description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Free Schools - Alternative Provision</td>
                <td class="govuk-table__cell">Free Schools - Alternative Provision description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Free Schools Special</td>
                <td class="govuk-table__cell">Free Schools Special description.</td>
              </tr>
            
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Academy 16-19 Converter</td>
                <td class="govuk-table__cell">Academy 16-19 Converter description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Further Education</td>
                <td class="govuk-table__cell">Further Education description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Higher Education Institution</td>
                <td class="govuk-table__cell">Higher Education Institution description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Institution funded by other government department</td>
                <td class="govuk-table__cell">Institution funded by other government department description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">LA Nursery School</td>
                <td class="govuk-table__cell">LA Nursery School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Miscellaneous</td>
                <td class="govuk-table__cell">Miscellaneous description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Non-Maintained Special School</td>
                <td class="govuk-table__cell">Non-Maintained Special School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Offshore Schools</td>
                <td class="govuk-table__cell">Offshore Schools description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Other Independent School</td>
                <td class="govuk-table__cell">Other Independent School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Other Independent Special School</td>
                <td class="govuk-table__cell">Other Independent Special School description.</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Pupil Referral Unit</td>
                <td class="govuk-table__cell">Pupil Referral Unit description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Secure Units</td>
                <td class="govuk-table__cell">Secure Units description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Secure Units</td>
                <td class="govuk-table__cell">Secure Units description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Service Children's Education</td>
                <td class="govuk-table__cell">Service Children's Education description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Sixth Form Centres</td>
                <td class="govuk-table__cell">Sixth Form Centres description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Special Post 16 Institution</td>
                <td class="govuk-table__cell">Special Post 16 Institution description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Studio Schools</td>
                <td class="govuk-table__cell">Studio Schools description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">University Technical College</td>
                <td class="govuk-table__cell">University Technical College description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Voluntary Aided School</td>
                <td class="govuk-table__cell">Voluntary Aided School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Voluntary Controlled School</td>
                <td class="govuk-table__cell">Voluntary Controlled School description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Welsh Establishment</td>
                <td class="govuk-table__cell">Welsh Establishment description.</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Only organisations with the selected establishment types will be able to access your service. 
            </strong>
          </div>

          <div class="govuk-button-group govuk-!-margin-top-5">
            <a type="submit" class="govuk-button" href="../change-policy/org-change-policy.html">
              Continue
          </a>

          <a class="govuk-button govuk-button--secondary" href="../change-policy/org-change-policy.html" role="button">Cancel</a>
            
        </div>

    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage policies</a> </li>
          </ul>
      </aside>
  </div>

  </div>
       
  </main>

{% endblock %}
