{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="../change-policy/org-change-policy.html" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">Assessment Service</span>
  
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Change organisations</h1>

        <p class="govuk-body">Search and select at least 1 organisation.</p>

        <form method="post" id="form-user-search">
          <fieldset class="govuk-fieldset">
              <div class="govuk-form-group govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                  <h2 class="govuk-label-wrapper">
                      <label for="criteria" class="govuk-label govuk-label--s">
                          Search organisations
                      </label>
                  </h2>
                  <div id="event-name-hint" class="govuk-hint">
                    Search by name, UKPRN or URN
                  </div>
                  <input class="govuk-input govuk-!-width-two-thirds" type="text" id="criteria" name="criteria">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                      Search
                  </button>
                  <a class="govuk-link-bold govuk-!-margin-left-2 govuk-!-font-size-19" href="#">Clear search</a>                  
              </div>
          </fieldset>
      </form>
        
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Select</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Organisation</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Arkham Limited</td>
                <td class="govuk-table__cell">Open</td>
              </tr>
          </table>

         <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="#">Add another organisation</a></p>

         <table class="govuk-table govuk-!-margin-top-7">
          <caption class="govuk-table__caption govuk-table__caption--m">Organisations you have selected</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Select</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Organisation</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" checked>
                  <label class="govuk-label govuk-checkboxes__label"></label>
                </div>
              </div>
              </th>
              <td class="govuk-table__cell govuk-!-font-weight-bold">Blackgate Centre</td>
              <td class="govuk-table__cell">Open</td>
            </tr>
        </table>

          <div class="govuk-warning-text govuk-!-margin-top-5">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Only selected organisations will be able to access your service.
            </strong>
          </div>

          <div class="govuk-button-group govuk-!-margin-top-5">
            <a type="submit" class="govuk-button" href="../change-policy/org-change-policy.html">
              Continue
          </a>

          <a class="govuk-button govuk-button--secondary" href="../change-policy/org-change-policy.html" role="button">Cancel</a>
            
        </div>

    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage policies</a></li>
          </ul>
      </aside>
  </div>

  </div>
       
  </main>

{% endblock %}
