{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="../change-policy/org-change-policy.html" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">Assessment Service</span>
  
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Change organisation category</h1>

        <p class="govuk-body">Choose which organisation can access your service by their category. Select at least 1.</p>
        
          <table class="govuk-table govuk-!-margin-top-5">
            <caption class="govuk-table__caption govuk-table__caption--s">Organisation categories</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Select</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Category</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Establishment</td>
                <td class="govuk-table__cell">Establishment description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Government</td>
                <td class="govuk-table__cell">Government description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Local Authority</td>
                <td class="govuk-table__cell">Local Authority description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Multi-Academy Trust</td>
                <td class="govuk-table__cell">Multi-Academy Trust description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Other Legacy Organisations</td>
                <td class="govuk-table__cell">Other Legacy Organisations description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Other Stakeholders</td>
                <td class="govuk-table__cell">Other Stakeholders description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">PIMS Training Providers</td>
                <td class="govuk-table__cell">PIMS Training Providers description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Single-Academy Trust</td>
                <td class="govuk-table__cell">Single-Academy Trust description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Software Suppliers</td>
                <td class="govuk-table__cell">Software Suppliers description.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label"></label>
                  </div>
                </div>
                </th>
                <td class="govuk-table__cell govuk-!-font-weight-bold">Training Providers</td>
                <td class="govuk-table__cell">Training Providers description.</td>
              </tr>
          </table>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Only organisations with the selected categories will be able to access your service. 
            </strong>
          </div>

          <div class="govuk-button-group govuk-!-margin-top-5">
            <a type="submit" class="govuk-button" href="../change-policy/org-change-policy.html">
              Continue
          </a>

          <a class="govuk-button govuk-button--secondary" href="../change-policy/org-change-policy.html" role="button">Cancel</a>
            
        </div>

    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage policies</a> </li>
          </ul>
      </aside>
  </div>

  </div>
       
  </main>

{% endblock %}
