{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<main id="content" class="govuk-!-margin-bottom-5"> 

  <a href="../change-policy/user-change-policy.html" class="govuk-back-link govuk-!-font-weight-bold">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl govuk-!-margin-top-5">Assessment Service</span>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Change permission level</h1>

    <form class="form" action="/change-permission-level-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "permission-level",
        fieldset: {
          legend: {
            text: "Permission level",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select the type of user you want to have access to your service."
        },
        items: [
          {
            value: "End user",
            text: "End user",
            hint: {
              text: "This is the standard permission. An end user must request access to services from their approver"
            }
          },
          {
            value: "Approver",
            text: "Approver",
            hint: {
              text: "This is the highest responsibility level. An approver can add services to themselves and are responsible for the security of their organisation"
            }
          }
        ]
      }) }}


      <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Continue</button>

      <a class="govuk-button govuk-button--secondary" href="../policies.html" role="button">Cancel</a>

    </form>

  </div>

  <div class="govuk-grid-column-one-third pull-right">
    <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m">Related actions</h3>
        <ul class="govuk-list">
            <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage policies</a> </li>
        </ul>
    </aside>
</div>

</div>

</main>

{% endblock %}
