{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}



{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-5"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Policy changed
            </h3>
            <p class="govuk-body">The external users policy has been updated with your changes.</p>
          </div>
        </div>
  
        <span class="govuk-caption-xl govuk-!-margin-top-5">External users</span>
        <h1 class="govuk-heading-xl">Change your policy</h1>
  
        <p class="govuk-body">Review and change the external users policy.</p>   
        <h2 class="govuk-heading-m">Policy details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              External users	
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-policy/user/user-policy-name">Change<span class="govuk-visually-hidden">name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              User
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address	
            </dt>
            <dd class="govuk-summary-list__value">
              bruce.wayne@education.gov.uk<br>bond.james.bond@gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../change-policy/user/email-address">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Roles
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Submit Learner Data - EDS</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="../change-policy/user/roles">Change<span class="govuk-visually-hidden"> contact details</span></a></li>
              </ul>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group govuk-!-margin-top-5">
          <a type="submit" class="govuk-button" href="../service-access.html">
            Return to manage service access
        </a>
          
      </div>
    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
          </ul>
      </aside>
  </div>

  </div>
     

  </main>

{% endblock %}
