{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}


{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="../../manage-dashboard.html" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-5" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Policy removed
            </h3>
            <p class="govuk-body">The [policy name] policy has been removed from [service name].</p>
          </div>
        </div>
  
        <span class="govuk-caption-xl">Assessment Service</span>
  
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Manage policies</h1>
  
        <p class="govuk-body">A policy is a set of conditions that determines who can and cannot access your service.</p>

        <p class="govuk-body">You can view, create, change and remove policies.</p>

    </div>

    <div class="govuk-grid-column-one-third pull-right">
      <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Related actions</h3>
          <ul class="govuk-list">
              <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage policies</a> </li>
          </ul>
      </aside>
  </div>

  </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Policy name</th>
                    <th scope="col" class="govuk-table__header">Roles</th>
                    <th scope="col" class="govuk-table__header">Conditions</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../../manage-policies/view-policies/organisation-policy.html">[Organisation type policy]</a></th>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Active</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="../../manage-policies/change-policy/org-change-policy.html">Change</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"> <a class="govuk-!-font-weight-bold" href="../../manage-policies/view-policies/user-policy.html">[User type policy]</a></th>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">Active</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="../../manage-policies/change-policy/user-change-policy.html">Change</a></td>
                  </tr>
                </tbody>
              </table>
              
                <div class="govuk-button-group pull-right">
                  <a type="submit" class="govuk-button" href="../create-policy/policy-type.html">
                    Create new policy
                </a>
              </div>
              
    </div>
       
  </main>

{% endblock %}
