{% extends "layouts/main.html" %}


{% block header %}
{% include "includes/header.html" %} 
{% endblock %}



{% block content %}

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a prototype of a service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <main id="content" class="govuk-!-margin-bottom-0"> 

    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-font-weight-bold">Back</a>
  
    <!-- Specify the form to connect with the routes -->
          
   <form class="form" action="/v6/remove-policy-answer" method="post">

    <div class="govuk-error-summary govuk-!-margin-top-4" aria-labelledby="govuk-error-summary" role="alert"
    tabindex="-1" data-module="govuk-error-summary" {% if not showError %} style="display: none;" {% endif %}>
    <h2 class="govuk-error-summary__title" id="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#roles">Select a role</a>
        </li>
      </ul>
    </div>
  </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-error-summary govuk-!-margin-top-4" aria-labelledby="govuk-error-summary" role="alert"
        tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#roles">Select a response</a>
            </li>
          </ul>
        </div>
      </div>

        <!-- We hide the error to begin with -->

        <span class="govuk-caption-xl govuk-!-margin-top-5">Internal users</span>
  
        <h1 class="govuk-heading-xl">Remove policy</h1>

        <p class="govuk-body">You are about to remove the internal users policy from Submit Learner Data.</p>   

        <p class="govuk-body">By removing this policy, the users associated with this policy will no longer 
          be able to access Submit Learner Data.</p>   

          <h1 class="govuk-heading-m">Policy details</h1>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Internal users	
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Organisation
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Establishment type
              </dt>
              <dd class="govuk-summary-list__value">
                Academy 16-19 Converter
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation category
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Establishment</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation ID
              </dt>
              <dd class="govuk-summary-list__value">
                Arkham Limited
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                Open
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Roles
              </dt>
              <dd class="govuk-summary-list__value">
                Submit Learner Data - Advanced Support Resubmit File
              </dd>
            </div>
          </dl>


          <div class="govuk-form-group govuk-form-group--error">

          <div class="govuk-form-group" name="remove-policy">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Are you sure?
                </h1>
              </legend>
              <p id="policy-type-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Select a response
              </p>
    
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="remove-policy" name="remove-policy" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Yes, remove this policy
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="remove-policy" name="remove-policy" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    No, keep this policy
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

          <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Continue</button>
    
          <a class="govuk-button govuk-button--secondary" href="../view-policies/organisation-policy.html" role="button">Cancel</a>
    
        </form>

   
  </div>

  <div class="govuk-grid-column-one-third pull-right">
    <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m">Related actions</h3>
        <ul class="govuk-list">
            <li><a class="govuk-link govuk-!-font-weight-bold" href="#">Help with manage service access (opens in new tab)</a> </li>
        </ul>
    </aside>
</div>

  </div>

  
       
  </main>

{% endblock %}
