{% extends "layouts/main.html" %}

{% block pageTitle %}
  Manage Console - User journeys
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Design History</li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        Multi-factor authentication - User journeys & service design
      </h1>

      <h2 class="govuk-heading-l">User journeys</h2>

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-1-login-journey.html">1.1 - DSI login</a></h3>
      <p class="govuk-body">User journey for the login journey for a user using MFA to access their DfE Sign-in account.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-2-change-journey.html">1.2 - Change MFA settings</a></h3>
      <p class="govuk-body">User journey for when a user changes their MFA login settings.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-3-add-journey.html">1.3 - Add MFA method</a></h3>
      <p class="govuk-body">User journey for when a user wishes to add an MFA login method to their account.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-4-help-journey.html">1.4 - Get help & support</a></h3>
      <p class="govuk-body">User journey for when a user needs help & support with MFA for DfE Sign-in.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-1-service-login.html">1.5.1 - Service login</a></h3>
      <p class="govuk-body">User journey for the login journey for a user using MFA to access their DfE Sign-in account via the service landing page.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-2-service-create-account.html">1.5.2 - Service create account</a></h3>
      <p class="govuk-body">User journey for when a user creates a new accoutn which requires MFA via the service landing page.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-3-service-mfa-on.html">1.5.3 - Service turns on MFA</a></h3>
      <p class="govuk-body">User journey for when a service turns on MFA.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-4-service-mfa-off.html">1.5.4 - Service turns off MFA</a></h3>
      <p class="govuk-body">User journey for when a service turns off MFA for their service.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-5-service-setup.html">1.5.5 - Service login & setup MFA</a></h3>
      <p class="govuk-body">User journey for when a user accesses a service via the service landing page and is required to setup MFA.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-5-6-dsi-setup.html">1.5.6 - DSI login</a></h3>
      <p class="govuk-body">User journey for when a user access DfE Sign-in and is required to setup MFA.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-6-access-settings.html">1.6 - User accesses MFA settings</a></h3>
      <p class="govuk-body">User journey for a user who does not use MFA but once did & wishes to change their settings.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-7-request-service.html">1.7 - Request new service</a></h3>
      <p class="govuk-body">User journey for when a user requests access to a new service which requires MFA.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/1-8-resetup-mfa.html">1.8 - Re-setup MFA</a></h3>
      <p class="govuk-body">User journey for when a user has had their MFA rest and is required to set it up again.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-1-manage-console.html">2.1 - Manage Console</a></h3>
      <p class="govuk-body">User journey for a Manage Console user who wishes to manage MFA for their service.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-2-support-console.html">2.2 - Support Console</a></h3>
      <p class="govuk-body">User journey for a Support Console user who wishes to manage MFA for a user who requires support.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-3-remove-service.html">2.3 - Remove a service</a></h3>
      <p class="govuk-body">User journey for when an apporver removes a service from their account.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-4-mfa-recovery.html">2.4 - MFA recovery</a></h3>
      <p class="govuk-body">User journey for when a user cannot access their chosen authentication method.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-5-reset-request.html">2.5 - MFA reset request (Approver)</a></h3>
      <p class="govuk-body">User journey for when an end user requests MFA reset from an approver.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="../user-journeys-and-SD/mfa-posts/2-6-disable-request.html">2.6 - MFA disable request (Approver)</a></h3>
      <p class="govuk-body">User journey for when an end user requests MFA to be disabled from an approver.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-l">Service design</h2>

      <h3 class="govuk-heading-m"> <a class="govuk-link" href="mfa-service-blueprint.html">Service blueprint</a></h3>
      <p class="govuk-body">View the service blueprint for the multi-factor authentication solution for DfE Sign-in.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    </div>
  </div>

{% endblock %}