{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototypes - DfE Sign-in
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container ">

    <div class="govuk-grid-row govuk-!-margin-top-8">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage Console prototype</h1>
  
        <p class="govuk-body-l">A collection of the various versions of the Manage Console prototype.</p>

        <div class="govuk-card govuk-card--contained">
          <a href="#"></a>
          <div class="govuk-card__content govuk-!-padding-right-5">
            <h3 class="govuk-heading-m"><a href="/my-services.html" target="_blank">V1.0</a></h3>
  
            <p class="govuk-body">Version 1.0 of the Manage Console prototype shows the current version of Manage Console when this prototype was initially built in September 2023.</p>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Changes from previous versions
                </span>
              </summary>
              <div class="govuk-details__text">
                The previous version of the Manage Console prototype was developed using Invision Studio. Improvements from the previous version developed in Invision Studio consist of: 

                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4">
                  <li>transferring all of the existing screens developed in Invision Studio to the prototype kit</li>
                </ul>
              </div>
            </details>
  
          </div>
        </div>
  
        
          </div>
        </div>
        </div>

{% endblock %}
