{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototypes - DfE Sign-in
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container ">

    <div class="govuk-grid-row govuk-!-margin-top-8">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prototypes</h1>
  
        <p class="govuk-body-l">A collection of the various prototypes which form part of DfE Sign-in</p>

        <div class="govuk-card govuk-card--contained">
          <a href="#"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="/manage-console-versions.html">Manage Console</a></h3>
  
            <p class="govuk-body">Designs for improvements to the Manage console in DfE Sign-in.</p>
  
          </div>
        </div>
  
        <div class="govuk-card govuk-card--contained">
          <a href="#"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="https://dfe-signin-multi-factor-auth.herokuapp.com/" target="_blank">Multi-factor authentication</a></h3>
  
            <p class="govuk-body">Design for the multi-factor authentication solution for DfE Sign-in.</p>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Access password
                </span>
              </summary>
              <div class="govuk-details__text">
                In order to access this prototype you need to enter the following password: test-mfa-987
              </div>
            </details>
  
          </div>
        </div>
  
        
          </div>
        </div>
        </div>

{% endblock %}
